.h-100vh {
  height: 100vh;
}

.ar-16by9 {
  padding-bottom: 56.25%;
}

.bg-cover-center {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}